@import './imports.scss';

* {
    box-sizing: border-box;
    font-size: 2vh;
    font-family: 'Lora', serif;
    background-color: $base-color;
    border-color: $button-color;
}

button {
    border-radius: 5px;
    background-color: $button-color;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 

}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        margin-bottom: 25%;
    }
    border: 1px solid $button-color;
    form {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
        padding: 5%;
        margin: .5%;
    }
    padding: 2%;
    button {
        padding: .5%;
        margin: .5%
    }
}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "fridge-wrapper fridge-wrapper add-wrapper add-wrapper"
      "fridge-wrapper fridge-wrapper add-wrapper add-wrapper"
      "recipes-wrapper recipes-wrapper recipes-wrapper recipes-wrapper"
      "recipes-wrapper recipes-wrapper recipes-wrapper recipes-wrapper";
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
  }
  
  .add-wrapper { 
    grid-area: add-wrapper; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    border: 1px solid $button-color;
    border-radius: 5px;
    button {
        margin-top: 1%;
        width: 150px;
        padding: 1%;
    }
    input {
        background-color: $lighter-color;
        border: none;
        padding: 2%;
        margin-bottom: 5%;
        border-radius: 5px;
    }
  }
  
  .fridge-wrapper { 
    grid-area: fridge-wrapper;
    max-height: 40vh;
    padding: 5% 10% 5% 10%;
    overflow-y: scroll;
    border: 1px solid $button-color;
    border-radius: 5px;
}
  
  .recipes-wrapper { 
    grid-area: recipes-wrapper; 
    max-height: 40vh;
    padding: 1% 20% 1% 20%;
    overflow-y: scroll;

}
  
  .fridgeContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "fridgeNav fridgeRec fridgeRec fridgeRec"
      "fridgeNav fridgeRec fridgeRec fridgeRec"
      "fridgeNav fridgeRec fridgeRec fridgeRec"
      "fridgeNav fridgeRec fridgeRec fridgeRec";
    border: 1px solid $button-color;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
  }

  .fridgeNav { 
    grid-area: fridgeNav; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-right: 1px solid $button-color;
    button {
        margin-top: 5%;
        width: 150px;
        font-size: 1.1rem;
        padding: 5%;
    }
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
}
  .fridgeRec { 
    grid-area: fridgeRec; 
}

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5% 1% .5% 2%;
    border: 1px solid $button-color;
    border-radius: 5px;
    h1 {
        font-size: 2rem;
        color: $header-color;
        text-shadow: 4px 4px 0px $button-color;
    }
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
  }
  
  .fridgeNav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .savedRecipes {
    padding: 3%;
    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    button {
        width: 150px;
        padding: .5%;
    }
  }

  .foodWrapper {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    label {
        font-size: 1.2rem;
        padding: 2%;
        background-color: $lighter-color;
    }
    padding: 2%;
    margin: 1%;
    width: 50%;
    background-color: $lighter-color;
    button {
        margin: 5%;
    }
}

.individualRecipe {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    p {
        font-size: 1.2rem;
        background-color: $lighter-color;
    }
    padding: 1% 3% 1% 3%;
    margin: 1%;
    button {
        width: 150px;
        padding: .5%;
    }
    background-color: $lighter-color;
}

.individualSaved {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    p {
        font-size: 1.2rem;
        background-color: $lighter-color;
    }
    padding: 1%;
    margin: 1%;
    background-color: $lighter-color;
}

.navButtonWrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    button {
        width: 130px;
        padding: 5%;
    }
}